// theme colors
$primary: #373F51;
$secondary: #A9BCD0;
$tertenary: #d5d4ff;
$background: #E8E9EE;
$black:    #1B1B1E;
$white: #FFF;

body {
    background-color: $background !important;
    font-family: 'Ubuntu', sans-serif !important;
    color: $background !important;
}

.w-90 {
    width: 90%;
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";