@use '../custom' as *;
@use '../components/mixins' as *;

.nav-div {
    @media (max-width: 500px) {
        flex-direction: column;
        padding-bottom: 2rem;

        .navbar-logo {
            justify-content: center;
            width: 100%;
        }

        nav {
            width: 100%;
        }
    }
}

.menu {
    background-color: $primary;
}

.navbar {
    margin-bottom: 0 !important;
    position: sticky !important;

    .navbar-logo {
        padding: 15px 0;
        height: unset;

        .logo {
            img {
                height: 75px;
                width: 75px;
                border-radius: 50%;
            }
        }
    }
}

nav {
    width: 320px;

    .navbar-dropdown {
        border-radius: 8px;
        background-color: $secondary;
        width: 320px;
        min-width: 25%;
    }

    .navbar-menu {
        width: 60px;
        display: contents;
    }
}

nav a {
    line-height: 35px;
    height: 100%;
    font-size: 15px;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: $gray-200;
    cursor: pointer;

    &:hover {
        text-decoration: none;
        color: $white;
        font-weight: 300;
        padding: 0 3px;
        border-radius: 5%;
        border: 1px solid $white;
        box-shadow: 0px 0px 5px 5px $tertenary;
    }

    &:visited {
        text-decoration: none !important;
        color: $white;
        font-weight: unset;
    }
}
