@use '../custom' as *;
@use '../components/mixins' as *;

#projects {
    background-color: $secondary;
    border-radius: 10px;
    margin: 0 30px;
    padding-top: 10px;
}

#proj-title {
    font-size: 2rem;
    color: $primary;
    text-transform: uppercase;
    text-align: center;
    margin: 2rem;
}

.proj-caption {
    font-size: 1.5rem;
    color: $primary;
    padding: 15px;
}

.proj-card {
    width: 30%;

    a {
        &:hover {
            border-radius: 5%;
            border: 1px solid $tertenary;
            box-shadow: 0px 0px 5px 5px $white;
        }
    }

    img {
        width: 100%;
    }
}

img {
    border-radius: 10px;
}

@media (max-width: 500px) {
    .proj-div {
        flex-direction: column !important;

        .proj-card {
            width: unset;
        }
    }
}