@use '../custom' as *;

// Absolute center
@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin centerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}