@use '../custom' as *;

// chat icon
i.bi {
    font-size: 2rem;
}

// li icon
i.bi-caret-right-fill {
    font-size: 1rem;
    color: $tertenary;
    padding-right: 5px;
}

// Intro
.display-2 {
    color: $primary;
    margin-bottom: 1rem;

    &--description {
        font-size: 1.5rem;
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
    }
}

// Heading line
.start-divider::before {
    content: "";
    width: 10rem;
    height: 0.1rem;
    display: block;
    margin: 0 auto;
    background-color: $primary;
}

.start-divider::after {
    content: "";
    width: 2rem;
    height: 0.2rem;
    padding-top: 0.5rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    display: block;
    background-color: $primary;
}

// Ending line
.end-divider::before {
    content: "";
    width: 2rem;
    height: 0.2rem;
    padding-top: 0.5rem;
    margin: 0 auto;
    margin-top: 2rem !important;
    display: block;
    background-color: $primary;
}

.end-divider::after {
    content: "";
    width: 10rem;
    height: 0.1rem;
    display: block;
    margin: 0 auto;
    background-color: $primary;
    margin-bottom: 2rem;
}

// 3 tiered divider
.divider::before {
    content: "";
    width: 2rem;
    height: 0.2rem;
    padding-top: 0.5rem;
    margin: 15px auto 5px;
    display: block;
    background-color: $primary;
}

.divider::after {
    content: "";
    width: 10rem;
    height: 0.1rem;
    display: block;
    margin: 0 auto;
    background-color: $background;
    margin-bottom: 1rem;
}

// About
.title {
    font-weight: 400;
    font-size: 2rem;
    text-transform: uppercase;
    color: $white;
}

.text {
    font-size: 1.3rem;
    color: $white;
    padding: 15px;
    text-align: center;

    b {
        color: $secondary;
        font-weight: 500;
    }

    li {
        font-size: 1rem;
        position: relative;
        padding-left: 20px;
        color: $white;
    }

    @include media-breakpoint-up(lg) {
        font-size: 1.5rem;
        display: inline-block;
    }
}

.icon {
    color: $tertenary;

    &:hover {
        color: $tertenary;
    }
}